version: '3'

services:

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - {{ monitor_dir }}/grafana:/var/lib/grafana:rw
    deploy:
      mode: replicated
      replicas: 1

  prometheus:
    image: prom/prometheus:latest
    ports:
      - '9090:9090'
    volumes:
      - {{ monitor_dir }}/etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - {{ monitor_dir }}/prometheus:/prometheus:rw
    deploy:
      mode: replicated
      replicas: 1

  exporter:
    image: prom/node-exporter:latest
    ports:
      - '9100:9100'
    volumes:
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /proc:/host/proc:ro
    deploy:
      mode: global

  pihole-exporter:
    image: povilasv/arm-pihole_exporter
    ports:
      - '9101:9311'
    deploy:
      replicas: 1
    command: "pihole-exporter -pihole http://bebop"
