version: '3'

services:

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - {{ monitor_dir }}/grafana:/var/lib/grafana:rw
    deploy:
      mode: replicated
      replicas: 1

  prometheus:
    image: prom/prometheus:latest
    ports:
      - '9090:9090'
    volumes:
      - {{ monitor_dir }}/etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - {{ monitor_dir }}/prometheus:/prometheus:rw
    deploy:
      mode: replicated
      replicas: 1

  exporter:
    image: prom/node-exporter:latest
    ports:
      - '9100:9100'
    volumes:
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /proc:/host/proc:ro
    deploy:
      mode: global

  pihole-exporter:
    image: jahrik/pihole-exporter
    ports:
      - '9101:9311'
    deploy:
      replicas: 1
    command: "-pihole http://bebop"

  cadvisor:
    image: google/cadvisor:latest
    ports:
      - '9102:8080'
    volumes:
      - /var/lib/docker/:/var/lib/docker
      - /dev/disk/:/dev/disk
      - /sys:/sys
      - /var/run:/var/run
      - /:/rootfs
      - /dev/zfs:/dev/zfs
    deploy:
      mode: global
      resources:
        limits:
          cpus: '0.50'
          memory: 1024M
        reservations:
          cpus: '0.25'
          memory: 512M
      update_config:
        parallelism: 3
        monitor: 2m
        max_failure_ratio: 0.3
        failure_action: rollback
        delay: 30s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
