global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - 'first_rules.yml'
  # - 'second_rules.yml'

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
    - targets:
      - shredder:9090

  # http://shredder:9100/metrics
  - job_name: 'node'
    scrape_interval: 10s
    metrics_path: '/metrics'
    static_configs:
    - targets:
      - shredder:9100
      - donatello:9100
      - leonardo:9100
      - ninjara:9100
      - bebop:9100
      - rocksteady:9100

  # http://shredder:9101/metrics
  - job_name: 'pihole'
    scrape_interval: 10s
    metrics_path: '/metrics'
    static_configs:
    - targets:
      - shredder:9101

  # http://shredder:9102/metrics/
  - job_name: 'cadvisor'
    scrape_interval: 30s
    metrics_path: '/metrics'
    static_configs:
    - targets:
      - shredder:9102

  # http://shredder:9103/metrics/
  - job_name: 'transmission'
    scrape_interval: 10s
    metrics_path: '/metrics'
    static_configs:
    - targets:
      - shredder:9103

  # http://shredder:8080/prometheus/
  - job_name: 'jenkins'
    scrape_interval: 10s
    metrics_path: '/prometheus'
    static_configs:
    - targets:
      - shredder:8080
